
h#site-title{
  font-size: 60px;
  color: Black;
  font-family: verdana;

}
h1#article-title{
  font-size:30px;
  color: White;
  font-family: verdana;


}
body {
background:yellow;
}

p img {
  width: 800px,
  height: 500px
}
img{
  max-width:100%;
    height: auto;
}

figure img {
  width: 400px,
  height: 300px
}
figure.main-image{
background: white;
border-color:black;
color: black;

}
figure.section-image{
margin-bottom: 300px;
max-width: 900px;

}
@media all and (min-width: 768px) {
  figure.section-image.odd{
  float:right;
  margin-left: 100px;
  }
}
figure.section-image.even{
  float:left;
  margin-right: 100px;


}
    p img {
  width: 60%;
  height: auto;
}
figure img {
  width: 60%;
  height:auto;
}
figure{
  border: solid 2px Black;
}

@media all and (min-width: 390px) {
  nav ul {
    background-color:White;
    display: flex;
    list-style: none;
    padding-left: 0;
    border: 1px solid Black;
  }
}
nav ul li{

}

nav ul li a{
  color: #fffff;
  text-decoration:none;
  padding: 8px;
  border-bottom: 1px solid Black;
  display: block;
}
nav ul li: last-child a{
  border-bottom: none;
}
nav ul li a:hover{
  background-color: Black;
}
